<div class="container p-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-md4 mx-auto">
            <h1>Iniciar Sesión</h1>
            <div>
                <form action="http://localhost:8080/login" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    <a href="http://localhost:8080/">
                            <button type="button" class="btn btn-info">Registro Nuevo Usuario</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>